<h1>Welcome to the reverse mortgage calculator</h1>
<h3>find out how much house you can afford based on your desired monthly payment</h3> 
<form action="/" method="post">
	<p>number1</p>
	<input type="text" name="number1"></br>
	<p>number2</p>
	<input type="text" name="number2"></br>
	<p>number3</p>
	<input type="text" name="number3"></br>

	<input type="submit">
</form>

<a href="/about">About this app</a>
