<h1>Welcome to the reversed mortgage calculator</h1>
<h3>find out how much house you can afford based on your desired monthly payment</h3> 
<h4>(based on 30 year mortgage)</h4></br>


    
<form class="form-horizontal" action="/" method="post">
	<fieldset>
		 <label>Desired Monthly Payment</label>
		 	<input type="text" class="span3" name="monthly_payment"></br>
  			<label>Interest Rate (ex. 0.045)</label>
  			<input type="text" class="span3" name="interest_rate">
  			<button type="submit" class="btn btn-primary">Calculate</button>
	</fieldset>
</form>
