
<%= params[:number1] %> + </br>
<%= params[:number2] %> + </br>
<%= params[:number3] %> = </br>

<%= params[:number1].to_i + params[:number2].to_i + params[:number3].to_i %>
</br>
<a href="/">test</a>